.App {
  background: #e9e9e9;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  height: 100vh;
  padding-bottom: 40px;
}
.search-header {
  background-color: #221f20;
  min-height: 344px;
}
.navigation {
  background-color: #221f20;
  font-size: 40px;
}

.logo-itviec {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
}

.search-form-wrapper {
  margin: 50px auto 50px;
}
.search-section-wrapper {
  background: white;
  border: 1px solid #bebebe;
  height: 60px;
  line-height: 60px;
  width: 100%;
}
.search-field-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: 8px;
}

.search-box {
  border: 0;
  font-size: 18px;
  height: 90%;
  line-height: 30px;
  margin-top: 1px;
  width: 100%;
}
.search-box:focus {
  border: 0;
}
.search-button {
  background-color: #ea1e30;
  border: 0;
  border-radius: 0;
  color: white;
  font-size: 20px;
  height: 61px;
  width: 100%;
}
.search-button:hover {
  background-color: #d82727;
}

.icon-fasearch {
  margin-left: 10px;
  margin-right: 10px;
}

.job-list {
  background-color: white;
  border: 1px solid #d8d8d8;
  margin-top: -77px;
  padding: 0 10px;
  padding-bottom: 10px;
}

.middle {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.white-container {
  background-color: white;
  border: 1px solid #d8d8d8;
  overflow: auto;
  padding: 50px;
}
.login-title-box {
  align-items: center;
  background: black;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.login-title {
  color: white;
  font-size: 30px;
  margin-left: 20px;
  text-align: center;
}
.job-content {
  border-top: 2px solid rgba(255, 192, 121, 0.5);
  border-bottom: 2px solid rgba(255, 192, 121, 0.5);
  background: #fff1e1 !important;
  padding: 27px 0;
  transition: all 0.25s ease;
}
.job-content:hover {
  background: white !important;
  border-color: transparent;
  box-shadow: 0 0 5px 1px #bcbcbc;
  cursor: pointer;
}
.jobcard-logo {
  margin: 4px 30px 0 25px;
}
.jobcard-descriptions {
  padding-left: 15px;
  text-align: left;
}
.jobcard-title {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 5px;
}
.benefit-list {
  font-weight: 500;
  font-size: 14px;
  margin: 10px 0px;
  padding-left: 19px;
}
.date-location-box {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  height: 100%;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 10px;
  min-width: 100px;
  text-align: right;
}

.hotjob-label {
  color: white;
  background: #ff9e34;
  min-width: 45px;
  padding: 2px 10px;
  text-align: center;
}
.jobcard-location {
  color: #a6a8ab;
}
.badge-style {
  margin-right: 10px;
}
.job-time {
  color: #06c;
}
